<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/stylesheets/style.css" >
	
    <!--slider css -->
    <link rel="stylesheet"  href="/static/stylesheets/lightslider.css"/>