<!-- Here starts the login navbar -->
<nav class="navbar-second navbar-light bg-faded rounded mb-3">
        <div class="navbar-toggleable-md">
          <ul class="nav navbar-nav text-md-center" style="float: right; ">
            
            <% if (user) { %>
                <a class="nav-link user-btn" href="/profile"><%= user.local.email %> <%= user.facebook.name %> <%= user.google.name %></a>
            <% } else{ %>  
                <a class="nav-link" href="/login">Login</a>
             <% } %>
                       
            <% if (user) { %>
                <a class="nav-link" href="/logout">Logout</a>
            <% } else{ %>  
                <a class="nav-link" href="/signup">Sign Up</a>
            <% } %>
            <a class="nav-link" href="/cart">Cart</a>
          </ul>
        </div>
</nav>
<!-- end of login navbar -->

<h3 class="text-muted"><%= title %></h3> <!-- dynamic title, from every page render --> 
<!-- start menu navbar -->
        <nav class="navbar navbar-light bg-faded rounded mb-3" >
            <div class="navbar-toggleable-md">
                <ul class="nav navbar-nav text-md-center" style="float: left; ">
                    <li>
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/c/mens">Mens</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/c/womens">Womens</a>
                    </li>
                </ul> <!-- /end of menu -->

                <!-- search bar start here -->
                <form action="/search" method="get" id="searcsh">
                    <div class="col-lg-6" style="float: right; max-width: 30%;">
                        <input class="form-control" type="text" id="q" name="q" placeholder="Search" autocomplete="off">
                        <!-- <button type="submit" id="search-btn"><i class="fa fa-search"></i></button> -->
                    </div>
                </form>
                <!-- /search bar -->
            </div>
        </nav><!-- end of menu navbar -->