<!DOCTYPE html>
<html lang="en">
  <head>
     <%- include('partials/head') %> <!-- include header from /partials/head -->
  </head>

  <body>

    <div class="container">
      <div class="content-404">
            <img src="/static/images/error-img.png" title="error" />
      </div> <!-- /container -->
      <%- include('partials/scripts') %> <!-- script from /partials/scripts -->
      <%- include('partials/footer') %> <!-- footer -->
  </body>
</html>
