<!DOCTYPE html>
<html lang="en">
  <head>
     <%- include('partials/head') %> <!-- include header from /partials/head -->
  </head>

  <body>

    <div class="container">
      <div class="masthead">
      <%- include('partials/navbar') %> <!-- include navbar from /partials/navbar -->
      </div>

      <div class="jumbotron">
          <div class="border-padding">
                <div class="display-inline">
                    <h2>Product</h2>
                    <!-- we will use _.keys to create an array for all proprietes from object -->
                    <% _.forEach( _.keys(cart), function(p) { %> 
                    <h3><%= p %></h3> <!--this will be the name-->
                    <% }); %>
                    </div>
                    <div class="display-inline float-right">
                    <h2>Quantity</h2>
                    <% _.forEach( _.keys(cart), function(p) { %>
                    <h4><%= cart[p] %></h4> <!--and here we check quantity-->
                    <% }); %>
                </div>
          </div>
          <div id="paypal-button-container" class ="float-right"></div>
      </div> <!-- /jumbotron -->

    </div> <!-- /container -->
      <%- include('partials/scripts') %> <!-- script from /partials/scripts -->
      <%- include('partials/footer') %> <!-- footer -->
  </body>
</html>
