<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %> <!-- include header from /partials/head -->
    </head>

    <body>

        <div class="container">
        <div class="masthead">
        <%- include('partials/navbar') %> <!-- include navbar from /partials/navbar -->
        </div>

        <div class="jumbotron">
            <ol>
            <% _.each(items, function(topC) { %> <!-- takes each items defined in routes -->
            <li>
                <h1><%= topC.name %></h1> <!-- Mens / Womens -->
                <p><%= topC.page_description %></p>  <!-- Get description for each category -->
                <div class="link-btn">
                <a class="" href="/c/<%= topC.id %>">View Products</a>   
                </div>            
            </li>
            <% }); %>
            </ol>
        </div> <!-- /jumbotron -->

        </div> <!-- /container -->
        <%- include('partials/scripts') %> <!-- script from /partials/scripts -->
        <%- include('partials/footer') %> <!-- footer -->
    </body>
</html>
