<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <div class="container">

        <div class="masthead">
            <%- include('partials/navbar') %> <!-- include header from /partials/head -->
        </div>

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        </div>

        <div class="row">
            <!-- Curently logged user info -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Curently Logged:</h3>
                    <p>
                        <!-- display email/name of user if is logged with google/facebook or local user -->
                        <strong>email</strong>: <%= user.google.email %> <%= user.local.email %><%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.google.name %><%= user.facebook.name %>
                    </p>
                </div>
            </div>
        </div><!-- /row -->

    </div>
    <!-- /container -->
    <%- include('partials/scripts') %> <!-- script from /partials/scripts -->
    <%- include('partials/footer') %> <!-- footer -->
</body>

</html>