<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>

    <body>

        <div class="container">

        <div class="masthead">
            <%- include('partials/navbar') %>
        </div>

        <div class="jumbotron">
            <ol>
                <!-- to understand better this code, go in app and routes to see what topCategory do -->
                <!-- everything here name/page description/images etc is taken dynamic from db -->
                <% _.each(results, function(searchResults) { %>
                <li class="search-list">
                    <h1><%= searchResults.name %></h1>
                    <p><%= searchResults.page_description %></p>
                    <p>
                        <%= searchResults.price %> <!-- get price and currency dynamic from db -->
                        <%= searchResults.currency %>
                    <div class="link-btn">
                        <a class="" href="/p/<%= searchResults.id %>">View Products</a>
                    </div>
                </li> <!-- end of list-->
                <% }); %>
            </ol>
        </div>
        <!-- /jumbotron -->
        </div> <!-- /container -->
        <%- include('partials/scripts') %>
    </body>
</html>
