<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %> <!-- include header from /partials/head -->
</head>

<body>

    <div class="container">

        <div class="masthead">
          <%- include('partials/navbar') %> <!-- include navbar from /partials/navbar -->
        </div>

        <div class="jumbotron">
            <ol>
              <!-- to understand better this code, go in app and routes to see what subCategory do -->
              <!-- everything here name/page description etc, is taken dynamic from db -->
              <h1><%= subCategory.name %></h1>
              <p><%= subCategory.page_description %></p>
                  <% _.each(subCategory.categories, function(topC) { %>
                  <ol>
                      <li>
                        <h1><%= topC.name %></h1>
                        <p><%= topC.page_description %></p>
                        <% if (topC.image) { %>
                            <div>
                              <img src="/static/images/<%= topC.image %>">
                            </div>
                        <% } %>
                            <div class="link-btn">
                            <a class="" href="<%= subCategory.id %>/<%= topC.id %>">View Products</a>
                            </div>
                      </li>
                  </ol>
                  <% }); %>
            </ol>
        </div>
        <!-- /jumbotron -->

    </div>
    <!-- /container -->
    <%- include('partials/scripts') %>
    <%- include('partials/footer') %> <!-- footer -->
</body>

</html>