<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %> <!-- include header from /partials/head -->
</head>

<body>

    <div class="container">

        <div class="masthead">
          <%- include('partials/navbar') %> <!-- include navbar from /partials/navbar -->
        </div>

        <div class="jumbotron">
          
            <div class="sharethis-inline-share-buttons " ></div> <!-- Share buttons -->
          
            <li>
                <h1 id="product-target"><%= product.name %></h1>
                <h3><%= product.page_description %></h3>
                <h3>Price:<%= product.price %><%= product.currency %></h3>
                <!-- Right buttons, with dropdowns, size/color/width if exists -->
                <div class="product-variables">
                    <div id="add-to-cart">
                        <button type="button" onclick="" class="btn btn-primary margin-bottom add-to-cart">Add to cart</button>                            
                    </div>
                    <% _.forEach(product.variation_attributes, function(topP) { %> <!-- if products have variations, for each, execute function-->
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle margin-bottom" type="button" id="menu1" data-toggle="dropdown"> <%= topP.name %>
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <% if (topP.values) { %>
                            <div class="drop-product">
                                <% _.each(topP.values, function(topC) { %>
                                <p>
                                    <li role="presentation" class="btn-product"><a role="menuitem" tabindex="-1" href="#"> <%= topC.name %></a></li>
                                </p>
                                <% }); %>
                            </div>
                            <% } %>
                        </ul> <!-- /dropdown-menu -->
                    </div> <!-- /dropdown -->
                    <% }); %>

                </div>
                <!-- Slider for each image, if exist -->
                <div>
                    <div class="item">
                        <div class="clearfix" style="max-width:474px;">
                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                <% _.forEach(largeImgs, function(imgObject) { %>
                                <% _.forEach(imgObject.images, function(img) { %>
                                  <li>
                                    <img alt="<%= img.alt %>" title="<%= img.title %>" src="/static/images/<%= img.link %>" />
                                  </li>
                                <% }); %>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
              
            <!-- rating system -->
            <div id="wpac-review"></div>
            <script type="text/javascript">
            wpac_init = window.wpac_init || [];
            wpac_init.push({widget: 'Review', id: 7633});
            (function() {
                if ('WIDGETPACK_LOADED' in window) return;
                WIDGETPACK_LOADED = true;
                var mc = document.createElement('script');
                mc.type = 'text/javascript';
                mc.async = true;
                mc.src = 'https://embed.widgetpack.com/widget.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
            })();
            </script>
        </div>
        <!-- /jumbotron -->

    </div>
    <!-- /container -->
    <%- include('partials/scripts') %>
    <%- include('partials/footer') %> <!-- footer -->
</body>

</html>