<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %> <!-- include header from /partials/head -->
</head>

<body>

    <div class="container">

        <div class="masthead">
            <%- include('partials/navbar') %> <!-- include navbar from /partials/navbar -->
        </div>

        <div class="jumbotron">
            <ol>
                <!-- to understand better this code, go in app and routes to see what topCategory do -->
                <!-- everything here name/page description/images etc is taken dynamic from db -->
                <% _.each(items, function(topC) { %>
                <li>
                    <h1> <%= topC.name %></h1>
                    <p><%= topC.page_description %></p>
                    <% if (topC.image) { %>
                    <div>
                        <img src="/static/images/<%= topC.image %>">
                    </div>
                    <% } %>
                    <div>
                        <ol>
                            <% _.each(topC.categories, function(subC) { %>
                            <li>
                                <h2><%= subC.name %></h2>                                                
                                <p><%= subC.page_description %></p>
                                <% if (subC.image) { %>
                                <div>
                                    <img src="/static/images/<%= subC.image %>">
                                </div>
                                <% } %>
                                <div class="link-btn">
                                    <a class="" href="<%= topC.id %>/<%= subC.id %>">View Products</a>
                                </div>
                            </li>
                            <% }); %>
                        </ol>
                    </div>
                </li> <!-- end of list-->
                <% }); %>
            </ol>
        </div>
        <!-- /jumbotron -->

    </div>
    <!-- /container -->
    <%- include('partials/scripts') %>
    <%- include('partials/footer') %> <!-- footer -->
</body>

</html>