<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
    <!-- include header from /partials/head -->
</head>

<body>

    <div class="container">

        <div class="masthead">
          <%- include('partials/navbar') %>
            <!-- include navbar from /partials/navbar -->
        </div>

        <div class="jumbotron">
            <ol>
                <% _.each(items, function(topP) { %>  <!-- select all items from lastcategory -->
                <ol>
                    <li>
                        <h1>
                            <%=topP.name %> <!-- for each item get names dynamic -->
                        </h1>
                        <p>
                            <%= topP.page_description %> <!-- for each item get description dynamic -->
                        </p>
                        <p>
                            <%= topP.price %> <!-- get price and currency dynamic from db -->
                            <%= topP.currency %>
                        </p>

                        <div class="link-btn">
                          <a class="" href="/p/<%= topP.id %>">View Products</a>
                        </div>
                    </li>
                </ol>
                <% }); %>
            </ol>
        </div>
        <!-- /jumbotron -->

    </div>
    <!-- /container -->
    <%- include('partials/scripts') %>
    <%- include('partials/footer') %> <!-- footer -->
</body>

</html>