<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %> <!-- include header from /partials/head -->
</head>

<body>

    <div class="container">

        <div class="masthead">
            <%- include('partials/navbar') %> <!-- include navbar from /partials/navbar -->
        </div>

        <div class="col-sm-6 col-sm-offset-3 margin-auto">
            <h1><span class="fa fa-sign-in"></span> Signup</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>
            <!-- LOGIN FORM -->
            <form action="/signup" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-warning fa fa-google-plus">Signup</button>
            </form>

            <hr>

            <p>Already have an account?<a href="/login">Login</a></p>
            <p>Or go<a href="/">home</a>.</p>
            
        </div>      
    </div>
    <!-- /container -->
    <%- include('partials/scripts') %>
    <%- include('partials/footer') %> <!-- footer -->
</body>

</html>