body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  color: #00B7FF;
}


.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: transparent;
  min-height: 480px;
}
.row{
  min-height: 430px;
}
.jumbotron .btn {
  font-size: 21px;

}

.user-btn{
  font-weight: bold;
}

.jumbotron ol li {
  padding-bottom: 5%;
  
}

.drop-product {
  text-align: center;
}

.jumbotron ol {
  list-style: none;
}

a:hover { 
  color: inherit; 
  text-decoration: none;
} 
.search-list{
  border-top:1px solid;
  margin-bottom: 1%;
  padding: 0;
}
.link-btn {
  display: inline-block;
  border-radius: .25rem;
  text-decoration:none;
  color: #2c99f1;
  width: 15%;
  margin-top: 1%;
  text-align: center;
  background: #2e3338;
  padding: 1% 0;
}
.link-btn:hover {
  background: #363a3e;
}

.dropdown {
  margin-bottom: 15%;
}

.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
  margin-top: 5%;
}

.navbar-second {
  background: transparent;
}


@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
.product-variables{
  float:right;
  margin-right: 10%;
}
.wp-menu{
  display:none!important;
}
.content-404{
  text-align: center;
  min-height: 480px;
}
.SearchIcon
{
    color:#fff;
   
}
.SearchButton
{
    background-color:#ED1C24;
    border-radius:1px;
}
.SearchButton:hover{
    background-color:#C4161C;
}

ul{
  list-style: none outside none;
    padding-left: 0;
        margin: 0;
}
    .demo .item{
        margin-bottom: 60px;
    }
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
  width: 800px;
}
.margin-auto{
  margin: auto;
}
.border-padding{
  padding: 2% 5%;
  min-height: 350px;
}
.display-inline{
  display: inline-block;
}
.float-right{
  float: right;
}
.margin-bottom{
  margin-bottom: 5%;
}
.margin-right{
  margin-right:8%;
}
.float-left{
  float: left;
}
